{% extends "base/base.html" %}

{% block title %}
My Rankings
{% endblock %}

{% block content %}

<h1 class="mb-4">
    My Rankings
</h1>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>
                Class
            </th>

            <th>
                Month
            </th>

            <th>
                Rank
            </th>

            <th>
                Average
            </th>

        </tr>

    </thead>

    <tbody>

        {% for row in rankings %}

            <tr>

                <td>
                    {{ row.school_class.name }}
                </td>

                <td>
                    {{ row.ranking_month }}
                </td>

                <td>
                    {{ row.rank_position }}
                </td>

                <td>
                    {{ row.average_score }}
                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}